<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bình Hoa</title>
  <link rel="icon" href="/img/logo.jpg">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/scripts/jquery.js">
  <script src="https://kit.fontawesome.com/6576eda3fa.js"></script>
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>

  <nav class="navbar navbar-expand-lg m-narbar" >
    <div class="container">
        <i class="fad fa-tree-alt big-icon"></i>
      <a class="navbar-brand m-naritem" href="/"> Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item ">
            <a class="nav-link m-naritem" href="/add">Thêm hàng</a>
          </li>

          <li class="nav-item ">
            <a class="nav-link m-naritem" href="/sell">Bán hàng</a>
          </li>

          <li class="nav-item ">
            <a class="nav-link m-naritem" href="/statistic">Thống kê</a>
          </li>

          <li class="nav-item ">
              <a class="nav-link m-naritem" href="/bill">Hóa đơn</a>
            </li>

      </div>
    </div>

  </nav>